@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -moz-background-size:cover; 
  background-size:cover;
}
.degrees::after{
  content:'\00b0';
}
